@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

@section Styles{
	<link rel="stylesheet" href="~/css/hover.css" asp-append-version="true" />
}

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
@if (@Model.ActionResult != null)
{
	<script type="text/javascript">
		Swal.fire({
			text: '@Model.ActionResult',
			toast: true,
			position: 'top-end',
			showConfirmButton: false,
			icon: 'info',
			timer: 1500
		})
	</script>
}
<style>
	body{
          background-image: url('../images/jeremy-bezanger-u_bQ_vHqAYM-unsplash.jpg');
          background-repeat:no-repeat;
          background-size:cover;
     }
</style>

<h1 class="display-4 text-center my-4">Welcome to you favorite recipe</h1>
