@page
@model Recipe_Web_Interface.Pages.CreateRecipeModel
@{
	ViewData["Title"] = "Create";
}

<div class="modal fade" id="addModalRecipe" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Add New Recipe</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body c-edit-modal-body">
                <form asp-page-handler="add" method="post" enctype="multipart/form-data" class="c-form">

                    <div class="form-group">
                        <label class="mb-2">Recipe Title</label>
                        <input type="text" id="RecipeTitle" class="form-control" name="title" required />
                        <label class="mb-2">Ingredients</label>
                        <textarea class="form-control" type="text" id="RecipeIngredients" name="ingredients" required> </textarea>
                        <label class="mb-2">Instructions</label>
                        <textarea class="form-control" type="text" id="RecipeInstructions" name="instructions" required></textarea>
                      @foreach (string category in @Model.Categories)
			            {
				            <input name="SelectedCategories" type="checkbox" value="@category" /> @category
			            	<br />
			            }          
                    </div>

                    <div class="modal-footer c-modal-footer">
<button type="button" class="btn c-cancel-button" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                        <button type="submit" class="btn c-confirm-button">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>